<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cecymath2 - core Indez</title>
</head>
<body>
    <h1>Bienvenido al core</h1>
<ul>

<li><a href="{% url 'suma_home'%}">abrir suma</a></li>
<li><a href="{% url 'resta_home'%}">abrir resta</a></li>
<li><a href="{% url 'multiolicacion_home'%}">abrir multiplicacion</a></li>
<li><a href="{% url 'division_home'%}">abrir division</a></li>
<li><a href="{% url 'j_operaciones_home'%}">abrir j_operaciones</a></li>
<li><a href="{% url 'i_r_num_home'%}">abrir i_r_num_</a></li>
<li><a href="{% url 'o_polinomios_home'%}">abrir o_polinomios</a></li>
<li><a href="{% url 'e_1_grado_home'%}">abrir e_1_grado</a></li>
<li><a href="{% url 'e_2_grado_home'%}">abrir e_2_grado</a></li>
<li><a href="{% url 'factorizacion_home'%}">abrir factorizacion</a></li>
<li><a href="{% url 'c_a_p_fig_home'%}">abrir c_a_p_fig</a></li>
<li><a href="{% url 'core_home'%}">abrir core</a></li>
</ul>








</ul>




</body>
</html>